[Unit]
Description=Check The Bits Today certificate renewal twice daily

[Timer]
OnCalendar=*-*-* 00,12:00:00 UTC
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=timers.target
